@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
	--box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
	box-sizing: border-box;
}

body {
	align-items: center;
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(#43434338, #00000000);
	background: linear-gradient(to bottom, #434343, #000000f6);
	color: #fff;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.btn {
	background: linear-gradient(105deg, #ff9d00 30%, #ffd400 100%);
	box-shadow: var(--box-shadow);
	border: 0;
	color: black;
	cursor: pointer;
	display: block;
	font-size: 20px;
	margin: 13px 0 30px;
	padding: 16px;
	width: 100%;
}

.btn:focus,
.delete-btn:focus {
	outline: 0;
}
/* 
.btn-login {
	background: linear-gradient(105deg, #ff9d00 30%, #ffd400 100%);
	box-shadow: var(--box-shadow);
	border: 0;
	color: black;
	cursor: pointer;
	display: block;
	font-size: 20px;
	margin: 20px 0 30px;
	padding: 0 26px;
	width: 100%;
} */

.btn-logout {
	background: linear-gradient(105deg, #ff9d00 30%, #ffd400 100%);
	box-shadow: var(--box-shadow);
	border: 0;
	color: black;
	cursor: pointer;
	display: block;
	font-size: 20px;
	margin: 20px 0 30px;
	padding: 16px;
	width: 100%;
}

.container {
	margin: 30px auto;
	text-align: center;
	width: 540px;
}

.delete-btn {
	cursor: pointer;
	background-color: #e74c3c;
	border: 0;
	color: #fff;
	font-size: 25px;
	line-height: 20px;
	padding: 2px 5px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-100%, -50%);
	opacity: 0;
	transition: opacity 0.3s ease;
}

h1 {
	font-size: 42px;
	letter-spacing: 1px;
	margin: 0;
}

h3 {
	border-bottom: 1px solid #bbb;
	font-size: 22px;
	padding-bottom: 10px;
	margin: 40px 0 10px;
}

h4 {
	font-size: 17px;
	margin: 0;
	text-transform: uppercase;
}

.inc-exp-container {
	background-color: #f8f8ff;
	border-radius: 2px;
	box-shadow: var(--box-shadow);
	color: black;
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
	padding: 33px;
}

.inc-exp-container > div {
	flex: 1;
	text-align: center;
}

.inc-exp-container > div:first-of-type {
	border-right: 1px solid #f8f8ff;
}

input[type='text'],
input[type='number'] {
	border: 1px solid #f8f8ff;
	border-radius: 2px;
	display: block;
	font-size: 20px;
	padding: 14px;
	width: 100%;
}

label {
	display: inline-block;
	font-size: 20px;
	margin: 10px 0;
}

.list {
	list-style-type: none;
	padding: 0;
	margin-bottom: 40px;
}

.list li {
	background-color: #f8f8ff;
	border-radius: 2px;
	box-shadow: var(--box-shadow);
	color: #333;
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
	position: relative;
	padding: 14px;
}

.list li.plus {
	border-right: 11px solid #ffd400;
	font-size: 20px;
}

.list li.minus {
	border-right: 11px solid black;
	font-size: 20px;
}

.list li:hover .delete-btn {
	opacity: 1;
}

.logo {
	margin-top: 30px;
	width: 420px;
}

.logo-container {
	text-align: center;
}

.money {
	font-size: 22px;
	letter-spacing: 1px;
	margin: 5px 0;
}

.money.plus {
	color: #2ecc71;
}

.money.minus {
	color: #c0392b;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 350px;
	}
	
	.logo {
		width: 300px;
	}

	h1 {
		font-size: 30px;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 15px;
	}
}